.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*RESET-----------------------------------------*/
*,*::before,*::after{
  margin: 0%;
  padding: 0%;
}

a{
  text-decoration: none;
}

input{
  outline: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}

.logout{
  text-align: center;

  margin: -3.6rem 1.2rem 0 0;
  float: right;
}

.logout a{
  color: #F0F9FF;
  text-decoration: none;
}

select {
  border-bottom: 2px;
}