.loginComponent {
  background-color: rgb(255, 255, 255);
  border: 2px solid #c0c0c0;
  border-width: 2px;
  width: 27.5%;
  margin: 8% auto;
  padding: 40px;
  border-radius: 30px;

  color: #0f1d59;
}

label {
  width: 100%;
}
