.title {
    margin: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.calculadora {
    margin: 15px auto;
    width: 80%;
}

.insercao {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botoes {
    display: flex;
    justify-content: center;
}