.calculadora {
  margin: 20px auto;
  width: 80%;

}

.insercao {
  padding: 1% 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
}
