div.input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
div.md {
  width: 50%;
}

div.md2 {
  width: 83%
}

div.lg {
  width: 100%;
}

.inserir {
  height: 5px;
  /* margin: 5px; */
  padding: 20px 15px;
  
  font-size: 15px;
  color: black;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 3px solid #0f1d59;
  }

  .inserir.erro {
    border-bottom: 3px solid red;
  }
  
  .label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .inserir ~ .label {
    color: black;
    position: absolute;
    top: 10px;
    text-indent: 4px;
    transition: 0.4s;
    width: fit-content;
  }

  .label.erro {
    color: red;
  }
  
  .inserir:focus ~ .label,
  .inserir:valid ~ .label {
    transform: translateY(-20px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }