table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}

.firstTh {
  width: 78%;
}

.alinhamento {
  padding: 0;
  width: 10.5%;
  text-align: center;
}

td,
th {
  border: 1px solid #bdbcbc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

.newAircraftModel {
  text-decoration: none;
  color: #0f1d59;
  font-weight: bold;
  font-size: 18px;
}

.newAircraftModel:hover {
  text-decoration: underline;
}

.searchArea {
  display: flex;
  align-items: center;
  height: 60px;
}

.searchIcon {
  margin-right: 10px;
}