.inputPilot {
  height: 30px;
  margin: 5px 5px 10px 5px;
  font-size: 15px;

  /* border */
  border-style: double;
  border-right: none;
  border-top: none;
  border-left: none;
  border-color: #0f1d59;
}

select {
  outline: none;
}

#gg {
  width: 475px;
}

#md {
  width: 300px;
}

#sm {
  width: 142px;
}
