<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="tabletTemplate">
      <header>
        <div class="navezin">
          <img src="images/logo.png" alt="Logotipo da empresa Embraer" />
          <h3 class="meuH3">Operational Landing Distance</h3>

          <div class="logout">
            <a href="">
              <img src="images/logout.png" alt="Botão de Logout" />
              <p>Logout</p>
            </a>
          </div>
        </div>
      </header>

      <main>
        <div class="container">
          <div class="leftSide">
            <form action="">
              <input class="inputPilot" id="diferent" placeholder="Aircraft Model" type="text" /><br />
            </form>
            <div class="leftContainer">
              <div>
                <form action="">
                  <input class="inputPilot" placeholder= "Motor" type="text" /><br />
                  <input class="inputPilot" placeholder= "Aircraft Weight (kg)" type="text" /><br />
                  <input class="inputPilot" placeholder= "Overspeed (kt)" type="text" /><br />
                  <input class="inputPilot" placeholder= "Braking Application" type="text" /><br />
                  <input class="inputPilot" placeholder= "Landing Flap" type="text" /><br />
                </form>
              </div>
              <div> 
                <form action="">
                  <input class="inputPilot" placeholder= "Temperature (ºC)" type="text" /><br />
                  <input class="inputPilot" placeholder= "Certification" type="text" /><br />
                  <input class="inputPilot" placeholder= "Reverser" type="text" /><br />
                </form>
              </div>
            </div>
          </div>
          <div class="rightSide">
            <form action="">
              <input class="inputPilot" placeholder= "Wind (kt)" type="text" /><br />
              <input class="inputPilot" placeholder= "Slope (%)" type="text" /><br />
              <input class="inputPilot" placeholder= "Airport Altitude (ft)" type="text" /><br />
              <input class="inputPilot" placeholder= "Airstrip Condition" type="text" /><br />
              <input class="inputPilot" placeholder= "Ice Buildup" type="text" /><br />
              <input class="inputPilot" placeholder= "Track Conditions" type="text" /><br />
            </form>
          </div>
        </div>

        <div class="containerFooter">
          <div class="leftFooterSide">
            <form action="">
              <button class="blueColorful">Calculate</button>
              <button class="greyColorful">Clear All</button>
            </form>
          </div>
          <div class="rightFooterSide">
            <textarea placeholder = "  Result:" name="" id="" cols="90" rows="5.5"></textarea>
          </div>
        </div>
        
      </main>

      <footer></footer>
    </div>
  </body>
</html>
